<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Avilin</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="img" class="left"></div><br>
    <h1>Mark Avilin</h1>
    <h3>Python developer</h3>
    <p>I'm Mark Avilin, Python developer</p>
    <br><br>
    <hr>
    <h2>Education</h2>
    <p>Finished Polotsk State University with a Master degree of engineering since in computer and telecommunications!</p>
    <small class="right">Graduated in 2015</small>
    <br><br>
    <hr>
    <h2>Skills</h2>
    <p>Python &#10031;&#10031;&#10031;&#9733;&#9733; <br> Java &#10031;&#10031;&#10031;&#9733;&#9733; <br> HTML &#10031;&#10031;&#10031;&#9733;&#9733;
       <br> CSS &#10031;&#10031;&#10031;&#9733;&#9733; <br> JavaScript &#10031;&#10031;&#10031;&#9733;&#9733; <br> jQuery &#10031;&#10031;&#10031;&#9733;&#9733; </p>
    <br><br>
    <hr>
    <h2>More Skills</h2>
    <p>Professional using advanced libraries and frameworks us Pandas, BeautifulSoup, Selenium, Requests, Flask and more other..</p>
    <br><br>
    <hr>
    <h2>Connection</h2>
    <p>Email Address: avilin@yahoo.com <br> Phone Number: +7-909-123-4567</p>
</body>
</html>