body {
    background-image: url(dot.png);
    background-repeat: repeat;
}

.left {
    float: left;
        }

.center {
    text-align: center;
    margin: 0 auto;
}

.right {
    float: right;
}

#img {
    width: 200px;
    height: 200px;
    background-image: url(photo.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgb(66, 55, 2);
    box-shadow: 1px 0px 1px black;
    margin-right: 50px;
}
