body {
    background-image: url(https://png.pngtree.com/png-clipart/20200526/ourlarge/pngtree-green-abstract-polka-dot-background-with-stripes-png-image_2208194.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}


